<footer>
    <p class="text-center">Page created by J.R. Ruggiero</p>
    <p class="text-center">&copy;2017 All rights reserved</p>
    <div class="icon-box flex-container">
        <a href="mailto:lruggierojr@gmail.com" target="_blank"><i class="fa fa-envelope-open email-icon" aria-hidden="true"></i></a>
        <a href="https://twitter.com/LQFleury14" target="_blank"><i class="fa fa-twitter email-icon center-icon" aria-hidden="true"></i></a>
        <a href="https://github.com/fleury14" target="_blank"><i class="fa fa-github email-icon" aria-hidden="true"></i></a>
    </div>
    
</footer>