.email-icon {
    color: #fff;
    font-size: 24px;
}

.icon-box {
    justify-content: center;
    
}

.center-icon {
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    margin-top: 50px;
}