<h1 class="text-center">Room Reservation</h1>
<h3 class="text-center">Welcome to a simulated room reservation system for Bitwise Industries</h3>
<h4 class="text-center">Please log in, and select a room</h4>
<div *ngIf="showWarning === true" class="alert alert-warning reserve-warning">
    <p class="text-center">Please log in first before selecting a room.</p>
</div>
<div *ngIf="noProviderError === true" class="alert alert-warning reserve-warning">
    <p class="text-center">Please select a provider prior to logging in.</p>
</div>