.picture-column {
    height: 525px;
    flex-direction: column;
}

.space-divider {
    height: 25px;
    visibility: hidden;
    width: 100%;
}

.room-pic {
    font-size: 36px;
    color: #fff;
}

.room-img {
    color: #fff;
    position: relative;
    right: 200px;
    opacity: 0;
}

.mario {
    color: #a00;
}

.zelda {
    color: #0a0;
}

.sonic {
    color: #009; 
}

.halo {
    color: #99d;
}

.starfox {
    color: #da0;
}