<h1 class="text-center"> {{ thisId }}</h1>

<h3 class="text-center" *ngIf="userName">Welcome, {{userName.name}}</h3>
<p  class="text-warning" *ngIf="!userName">You are not logged in. You will not be able to view any rooms without logging in first.</p>
<div class="space-divider"></div>
<!-- <button class="btn btn-info" (click)="toggleCanDeactivate()">Can you leave? {{CanIDeactivate}}</button> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 picture-column flex-container align-center justify-center">
            <h2 class="text-uppercase room-pic font-start">{{ thisId }}</h2>
        </div>
        <div class="col-sm-6">
            <!-- <app-room-list></app-room-list>
            <app-room-form [roomId]="thisId"></app-room-form> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
