<ul class="nav navbar-nav navbar-right">
  <li>
    <div class="photo-container">
      <img [src]="loggedInUser.pictureURL" alt="" *ngIf="loggedInUser" class="img-responsive">
    </div>
  </li>
  <li>
    <div class="button-box"><span *ngIf="loggedInUser" class="provider">{{ loggedInUser.displayName }}</span></div>
  </li>
    
  <li class="dropdown" *ngIf="!loggedInUser">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span *ngIf="authProvider">{{ authProvider }}</span><span *ngIf="!authProvider">Provider</span> <span class="caret"></span></a>
      <ul class="dropdown-menu my-menu">
      <li (click)="dropdownGithub()">Github</li>
      <li (click)="dropdownGoogle()">Google</li>
      
      </ul> <!-- end dropdown menu -->
  </li>
  <li>
    <div class="button-box">
      <button class="btn btn-success log-button" [disabled]="loggedInUser" (click)="login(authProvider)">Login</button>
      <button class="btn btn-danger log-button" [disabled]="!loggedInUser" (click)="logout()">Logout</button>
    </div>
  </li>
</ul> <!-- end navbar right -->