.button-box {
    height: 50px;
    display: flex;
    align-items: center;
}

.dropdown-menu > li {
    padding: 10px;
}

.dropdown-menu > li:hover {
    background-color: #ddd;
}

.provider {
    color: #fff;
}

.log-button {
    margin-left: 20px;
}

.my-menu {
    background-color: #333;
    border: 1px solid white;
}

.my-menu li:hover {
    color: #000;
}

.photo-container {
    width: 30px;
    height: 30px;
}