.reserve-number {
    font-size: 72px;
    font-weight: 600;
}

.reservations-yes {
    color: #080;
}

.reservations-no {
    color: #800;
}

.reservation-index {
    height: 55px;
    font-size: 40px;
    color: #080;
    min-width: 90px;
}