<h2>Create a reservations for {{ roomId }}.</h2>

<form #roomForm="ngForm" (ngSubmit)="submittingForm(roomForm.value)" novalidate class="room-form">
    <div class="my-form-item">
        <label for="reserveForInput">Reserve For</label>
        <select name="reserveForInput" #reserveForInput="ngModel" ngModel required>
            <option *ngFor="let value of options" (value)="value">{{ value }}</option>
        </select>
        <p *ngIf="reserveForInput.invalid">You need to select something</p>
    </div>
   
    <div class="my-form-item">
        <label for="emailInput">Contact E-Mail</label>
        <input name="emailInput" type="email" placeholder="email" ngModel email [ngClass]="{danger: roomForm.controls?.emailInput?.invalid, valid: roomForm.controls?.emailInput?.valid}">
    </div>
    <div class="my-form-item">
        <label for="emailInput">Repeat E-mail for confirmation</label>
        <input name="confirmInput" type="email" placeholder="email" ngModel email [ngClass]="{danger: roomForm.controls?.confirmInput?.invalid, valid: roomForm.controls?.confirmInput?.valid}">
    </div>
    

    <!-- <div class="my-form-item">
            <label for="">Day</label>
            <select name="dayInput" id="" class="form-control day-field" placeholder="Month" ngModel>
                <option *ngFor="let num of numArray">{{ num }}</option>
                <option *ngIf="roomForm.controls?.monthInput?.value !== 'February'">29</option>
                <option *ngIf="roomForm.controls?.monthInput?.value !== 'February'">30</option>
                <option *ngIf="isDayValid(31,roomForm.controls?.monthInput?.value)">31</option>
            </select>
    </div> -->
   
    <div class="my-form-item">
        <label for="">Start Time</label>
        <input type="time" name="startTimeInput" ngModel required>
    </div>
    <div class="my-form-item">
        <label for="">End Time</label>
        <input type="time" name="endTimeInput" ngModel required>
    </div>
    <!-- <div class="my-form-item">
        <label for="reasonInput" class="display-block">Extra Notes<br></label>
        <textarea class="form-control" name="reasonInput" type="textarea" placeholder="Reason for Reserving room" rows="5" ngModel></textarea>
    </div> -->
    <div class="checkbox">
        <label for="agree2Clean">
                <input type="checkbox" name="agree2Clean" ngModel required>I agree to leave the room in the same condition it was in when I arrived.
        </label>
        
    </div>
    <input class="btn btn-info" type="submit" [disabled]="roomForm.invalid">
</form>
<div class="alert alert-warning">
    <p *ngIf="roomForm.invalid">You have fields that need to be filled out.</p>
    <!-- Remove the following once candeactivate guard has been updated -->
    <p *ngIf="roomForm.dirty">You have changed that have not been saved. Leaving will nullify those changes.</p>
</div>

{{ roomForm.value | json }}