<h2>Create a reservations for {{ roomId }}.</h2>

<form #roomForm="ngForm" (ngSubmit)="submittingForm(roomForm.value)" novalidate class="room-form">
    <div class="my-form-item">
        <label for="reason">Reserve For:</label>
        <select name="reason" #reserveForInput="ngModel" ngModel required>
            <option *ngFor="let value of options" (value)="value">{{ value }}</option>
        </select>
        <p *ngIf="reserveForInput.invalid">You need to select something</p>
    </div>
   
    <div class="my-form-item">
        <label for="email">Contact E-Mail:</label>
        <input name="email" type="email" placeholder="email" ngModel email [ngClass]="{danger: roomForm.controls?.email?.invalid, valid: roomForm.controls?.email?.valid}">
    </div>
    <div class="my-form-item">
        <label for="emailConfirmation">Repeat E-mail for confirmation:</label>
        <input name="emailConfirmation" type="email" placeholder="email" ngModel email [ngClass]="{danger: roomForm.controls?.emailConfirmation?.invalid, valid: roomForm.controls?.emailConfirmation?.valid}">
    </div>
    
   
    <div class="my-form-item">
        <label for="">Start Time:</label>
        <input type="time" name="startTime" ngModel required>
    </div>
    <div class="my-form-item">
        <label for="">End Time:</label>
        <input type="time" name="endTime" ngModel required>
    </div>
    <!-- <div class="my-form-item">
        <label for="reasonInput" class="display-block">Extra Notes<br></label>
        <textarea class="form-control" name="reasonInput" type="textarea" placeholder="Reason for Reserving room" rows="5" ngModel></textarea>
    </div> -->
    <div class="checkbox">
        <label for="isAgreed">
                <input type="checkbox" name="isAgreed" ngModel required>I agree to leave the room in the same condition it was in when I arrived.
        </label>
        
    </div>
    <input class="btn btn-info" type="submit" [disabled]="roomForm.invalid">
</form>
<div class="alert alert-warning room-form-warning">
    <p *ngIf="roomForm.invalid">You have fields that need to be filled out.</p>
    <!-- Remove the following once candeactivate guard has been updated -->
    <p *ngIf="roomForm.dirty">You have changed that have not been saved. Leaving will nullify those changes.</p>
</div>

<!-- {{ roomForm.value | json }} -->