/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Orbitron|Press+Start+2P');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #000;
    color: #fff;
}

.align-center {
    align-items: center;
}

.display-block {
    display: block;
}

.flex-container {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.font-start {
    font-family: 'Press Start 2P', cursive;
}

.reserve-warning {
    width: 50%;
    background-color: #222;
    color: #f77;
    margin: 30px auto;
}